{% if site.google.adsense.enabled and site.google.adsense.content_header and site.url contains 'mazhuang.org' %}
<!-- 博客-文章头部 -->
<ins class="adsbygoogle content-header-ad"
     data-ad-client="ca-pub-7093222719567591"
     data-ad-slot="1650902835"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WW6QSV38LN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WW6QSV38LN');
</script>
<br />
{% endif %}
